{
  servers {
    protocols h1 h2 h3
  }
}

touchmyapi.com {
  reverse_proxy 127.0.0.1:8080
}

www.touchmyapi.com {
  redir https://touchmyapi.com{uri} permanent
}

app.touchmyapi.com {
  reverse_proxy 127.0.0.1:8080
}

api.touchmyapi.com {
  reverse_proxy 127.0.0.1:3000
}

admin.touchmyapi.com {
  reverse_proxy 127.0.0.1:8081
}

admin-api.touchmyapi.com {
  reverse_proxy 127.0.0.1:3001
}
